In [3]:
import pandas as pd

# ----------------------------------------
# 1. F2 Features laden (korrekter Pfad!)
# ----------------------------------------
df = pd.read_csv("../../data/f2/f2_features.csv")

# ----------------------------------------
# 2. Erste Kontrolle
# ----------------------------------------
display(df.head())
display(df.describe())
display(df['reached_f1'].value_counts())

print("Form:", df.shape)
print("Columns:", df.columns.tolist())

,driver,total_laps,avg_kph,avg_position,best_position,avg_best_lap,avg_pos_feature_race,avg_pos_free_practice,avg_pos_qualifying,avg_pos_sprint_race1,avg_pos_sprint_race2,avg_final_position,reached_f1
0,A. Albon,1723.0,184.954854,6.469880,1.0,101.428550,6.750000,6.454545,5.761905,6.950000,NaN,6.475000,1
1,A. Cordeel,1700.0,178.045965,15.458824,2.0,98.764784,14.631579,15.958333,15.739130,15.315789,NaN,15.628788,0
2,A. Deledda,541.0,173.171714,19.500000,12.0,104.020571,19.000000,21.375000,21.666667,17.000000,15.333333,18.904762,0
3,A. Fuoco,1733.0,183.553476,8.541176,1.0,100.851103,7.368421,9.043478,8.782609,8.800000,NaN,8.280488,0
4,A. Hubert,738.0,176.557706,9.852941,1.0,97.959688,8.625000,12.444444,9.777778,8.250000,NaN,9.709677,0

,total_laps,avg_kph,avg_position,best_position,avg_best_lap,avg_pos_feature_race,avg_pos_free_practice,avg_pos_qualifying,avg_pos_sprint_race1,avg_pos_sprint_race2,avg_final_position,reached_f1
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,91.000000,28.000000,93.000000,93.000000
mean,1367.774194,181.384302,11.313371,3.752688,100.462389,10.678468,12.252034,11.686916,10.546866,9.781463,11.223033,0.182796
std,984.024259,6.198479,3.986514,4.282563,5.672225,3.786809,4.493807,4.738567,3.574639,3.478301,3.989303,0.388594
min,64.000000,158.502714,3.051282,1.000000,78.327000,3.250000,2.636364,2.100000,4.000000,3.833333,3.162162,0.000000
25%,743.000000,178.887766,7.759259,1.000000,98.940114,7.473684,9.043478,8.028571,7.845000,6.750000,7.703297,0.000000
50%,1014.000000,182.013750,11.125000,1.000000,100.390056,10.600000,11.833333,11.763158,10.100000,9.166667,11.125000,0.000000
75%,1879.000000,184.667500,14.430000,5.000000,102.213700,13.800000,15.684211,15.076923,13.392857,13.000000,14.455752,0.000000
max,3999.000000,202.070667,19.500000,16.000000,117.489000,19.000000,21.500000,22.000000,18.500000,15.333333,18.904762,1.000000

reached_f1
0    76
1    17
Name: count, dtype: int64

Form: (93, 13)
Columns: ['driver', 'total_laps', 'avg_kph', 'avg_position', 'best_position', 'avg_best_lap', 'avg_pos_feature_race', 'avg_pos_free_practice', 'avg_pos_qualifying', 'avg_pos_sprint_race1', 'avg_pos_sprint_race2', 'avg_final_position', 'reached_f1']